<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>

    {% extends "base.html" %}

    {% block content %}

    {% if message %}

        <p>{{ message }}</p>

        {% if success %}

            <a href="/">Aller à l'accueil</a>

        {% endif %}

    {% endif %}

    {% endblock %}

    <div class="form-container">

    <form action="/login" method="POST">
        <input type="email" name="mail" placeholder="Votre email" required>
        <input type="password" name="password" placeholder="Votre mot de passe" required>
        <button type="submit">Se connecter</button>
    </form>

    <a href="/" class="back-home">Retour à l'accueil</a>

    </div>

</body>
</html>
